../../../.bash_history
../../../.gitconfig
../../../.gk
../../../.bash_profile
../../../.gitignore
../../../.lesshst
../../../.viminfo
../../../4.9.2/
../../../Downloads/
../../../OneDrive/Desktop/Fast-food-Dev/.vscode-insiders/
../../../OneDrive/Desktop/Fast-food-Dev/.vscode/
