body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

header {
    background: rgb(208, 255, 0);
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    background: red;
    padding: .5rem 1rem;
}

nav a:hover {
    color: lightgreen;
}

@media (min-width:576px) {
    nav a {
        border-radius: 50rem;
    }
}

.service {
    background: orangered;
}

footer {
    background: #000000;
}